<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="CSS/estilo.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="icon" type="image/png" href="Imagens/favicon.png" sizes="32x32" />
  <link rel="stylesheet" href="https://sethusenthil.github.io/Product-Sans/font/font.css">

  <title>Atendimento</title>
</head>

<body>
  <nav class="shadow navbar navbar-expand-sm navbar-light sticky-top" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <a class="navbar-brand" href="#">
        <img src="Imagens/conselhotutelar.png" width="32" height="32" class="d-inline-block align-top" alt="">
        <span class="text-muted">
          <gfont>Conselho Tutelar </gfont>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <gfont>Início </gfont>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <gfont>Atendimento </gfont>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <gfont>Ocorrências </gfont>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">
                <gfont>Consultar</gfont>
              </a>
              <a class="dropdown-item" href="#">
                <gfont>Concluídas</gfont>
              </a>
              <a class="dropdown-item" href="#">
                <gfont>Pendentes</gfont>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <gfont>Relatórios </gfont>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <b>
                <gfont>Sair </gfont>
              </b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <gfont>
        <div class="shadow alert alert-success" role="alert">
            <h4 class="alert-heading">Atendimento </h4>
            <p class="mb-0">Nesta seção o conselheiro pode cadastrar a ocorrência solicitada.</p>
        </div>
        <div class="shadow container-fluid">
          <div class="shadow alert alert-primary" role="alert">
            <h5>Endereço: </h5>
          </div>
          <form>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                <label for="nomeRua">Rua: </label>
                <input type="text" class="form-control" id="nomeRua" placeholder="Ex. Rua das casas ">
                </div>
                <div class="col-md-2 mb-3">
                <label for="numeroRua">Número: </label>
                <input type="number" class="form-control" id="numeroRua" placeholder="Ex. 123">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                <label for="pontoReferencia">Ponto de referência: </label>
                <input type="text" class="form-control" id="pontoReferencia" placeholder="Ex. Próximo à padaria. ">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="bairro">Bairro: </label>
                    <select class="form-control" name="bairro" id="bairro">
                        <option value="Não informado">-----</option>
                        <option value="Alazao">Alazão</option>
                        <option value="Alto do Cruzeiro">Alto do Cruzeiro</option>
                        <option value="Baixa da Hora">Baixa da Hora</option>
                        <option value="Baixa da Onça">Baixa da Onça</option>
                        <option value="Baixa do Capim">Baixa do Capim</option>
                        <option value="Bálsamo">Bálsamo</option>
                        <option value="Bananeira">Bananeiras</option>
                        <option value="Barro Vermelho">Barro Vermelho</option>
                        <option value="Batingas">Batingas</option>
                        <option value="Boa Vista">Boa Vista</option>
                        <option value="Bom Jardim">Bom Jardim</option>
                        <option value="Brasilia">Brasília</option>
                        <option value="Caititus">Caititus</option>
                        <option value="Cajarana">Cajarana</option>
                        <option value="Canafistula">Canafístula</option>
                        <option value="Caititus">Cangandú</option>
                        <option value="Capiata">Capiatã</option>
                        <option value="Centro">Centro</option>
                        <option value="Flexeiras">Flexeiras</option>
                        <option value="Genipapo">Genipapo</option>
                        <option value="Gruta">Gruta D'Água</option>
                        <option value="Guaribas">Guaribas</option>
                        <option value="Ingazeira">Ingazeira</option>
                        <option value="Itapoa">Itapoã</option>
                        <option value="Jardim de Maria">Jardim de Maria</option>
                        <option value="Jardim Tropical">Jardim Tropical</option>
                        <option value="Lagoa de São Pedro">Lagoa de São Pedro</option>
                        <option value="Lagoa do Mato">Lagoa do Mato</option>
                        <option value="Lagoa do Poção">Lagoa do Poção</option>
                        <option value="Laranjal">Laranjal</option>
                        <option value="Mangabeiras">Mangabeiras</option>
                        <option value="Mocó">Mocó</option>
                        <option value="Nova Esperanca">Nova Esperança</option>
                        <option value="Novo Horizonte">Novo Horizonte</option>
                        <option value="Oitizeiro">Oitizeiro</option>
                        <option value="Ouro Preto">Ouro Preto</option>
                        <option value="Pau D'Arco">Pau D'Arco</option>
                        <option value="Pé Leve Velho">Pé-Leve Velho</option>
                        <option value="Perucaba">Perucaba</option>
                        <option value="Piaui">Piauí­</option>
                        <option value="Pimenteira">Pimenteira</option>
                        <option value="Pocao">Poção</option>
                        <option value="Poco da Pedra">Poço da Pedra</option>
                        <option value="Poço de Baixo">Poço de Baixo</option>
                        <option value="Poço de Santana">Poço de Santana</option>
                        <option value="Quati">Quati</option>
                        <option value="Riacho Seco">Riacho Seco</option>
                        <option value="Santa Edwiges">Santa Edwigens</option>
                        <option value="Santa Esmeralda">Santa Esmeralda</option>
                        <option value="São Luis">São Luis</option>
                        <option value="São Luis 2">São Luis II</option>
                        <option value="Sapucaia">Sapucaia</option>
                        <option value="Senador Arnon de Melo">Senador Arnon de Melo</option>
                        <option value="Senador Teotonio Vilela">Senador Teotonio Vilela</option>
                        <option value="Sitio das Furnas">Sitio das Furnas</option>
                        <option value="Taboquinha">Taboquinha</option>
                        <option value="Taquara">Taquara</option>
                        <option value="Terra Fria">Terra Fria</option>
                        <option value="Tingui">Tingui</option>
                        <option value="Varginha">Varginha</option>
                        <option value="Verdes Campos">Verdes Campos</option>
                        <option value="vila Aparecida">Vila Aparecida</option>
                        <option value="Xexeu">Xexeu</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-10 mb-2">
                <label for="nomeRua">Endereço alternativo: </label>
                <input type="text" class="form-control" id="enderecoAlternativo" placeholder="Ex. Rua das outras casas ">
                </div>
                <div class="col-md-3 mb-3">
                <label for="numeroTelefone">Telefone: </label>
                <input type="text" class="form-control" id="numeroTelefone" placeholder="Ex. (82) 9 99999999 ">
                </div>
            </div>
          </form>
        </div>
    </gfont>
  </div>

  <div class="alert alert-light" role="alert">
    
  </div>

  <footer class="footer fixed-bottom">
    <div class="container">
      <span class="text-muted"><gfont> © 2018 Coletivo EIDI e colaboradores individuais. </gfont></span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>

</body>

</html>